{% extends "base.html" %}
{% load static %}

{% block title %} User Information {% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <h2 class="col-md-4">{{user.username}} </h2>
            <br>

            {% if profile.avatar %}
            <div class="col-6">
                <img src="{{profile.avatar.url}}" style="max-width:30%; border-radius: 10%;" class="col-md-4">
                {% else %}
                <h5 class="col-md-4">No Profile Picture</h5>
            </div>
            {% endif %}

            <br>

            <form action="."  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- avatar -->
                <div class="form-group">
                    <label  for =" avatar"> Upload avatar </label>
                    <input type="file" class="form-control-file" name="avatar" id="avatar">
                </div>
                <!-- phone -->
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="{{profile.phone}}">
                </div>
                <!-- bio -->
                <div class="form-group">
                    <label for="bio">Bio</label>
                    <textarea type="text" class="form-control" id="bio" name="bio" rows="12">{{profile.bio}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary" >Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock content%}