<!-- Define the navigation bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class=" container">
        <a class=" Navbar-Brand " href=" # "> My blog </a>

        <!-- Navigation entry-->
        <div>
            <ul class=" navbar-nav ">
                <!-- Entry-->
                <li class=" nav-item ">
                    <a class="nav-link" href="{% url 'article:article_list' %}"> Article </a>
                </li>
            </ul>
        </div>

    </div>
</nav>