<!-- extends indicates that this page is inherited from the base.html file -->
{% extends "base.html" %}
{% load static %}

<!-- Write the title defined in base.html -->
{% block title %}
Home
{% endblock title %}

<!-- Write content defined in base.html -->
{% block content %}

<!-- Define the div container where the article title is placed-->
<div class=" container ">
    <div class=" row mt-2 ">

        {% for article in articles %}
        <!-- Article content-->
        <div class=" col-4 mb-4 ">
            <!-- Card container-->
            <div class=" card h-100 ">
                <!-- Title-->
                <h4 class=" card-header "> {{article.title}} </h4>
                <!-- Summary -->
                <div class=" card-body ">
                    <p class=" card-text "> {{article.body|slice:'100'}}...</p>
                </div>
                <!-- footnote -->
                <div class=" Card-footer ">
                    <a href="{% url 'article:article_detail' article.id %}" class=" btn btn-Primary "> Read This </a>
                </div>
            </div>
        </div>
        {% endfor %}


        <div>
            <!-- Page Nav-->
            <div class="pagination row">
                <div class="m-auto">
                    <span class="step-links">
                        <!-- if it is not the first page, display up button -->
                        {% if articles.has_previous %}
                        <a href="?page=1" class="btn btn-success">
                            &laquo; 1
                        </a>

                        <span> ... </span>

                        <a href="?page={{articles.previous_page_number}}" class="btn btn-secondary">
                            {{articles.previous_page_number}}
                        </a>
                        {% endif %}

                        <!-- current page -->
                        <span class="current btn btn-dange btn-lg">
                            {{articles.number}}
                        </span>

                        <!-- if it is not the last page, the down button is displayed -->
                        {% if articles.has_next %}
                        <a href="?page={{article.next_page_number}}" class="btn btn-secondary">
                            {{articles.next_page_number}}
                        </a>

                        <span> ... </span>

                        <a href="?page={{articles.paginator.num_pages}}" class="btn btn-success">
                            {{articles.paginator.num_pages}}
                        </a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        {% endblock content %}